/*
 * Copyright (c) 2022 by Daniel Süpke.
 *
 * Licensed under GPLv3, see LICENSE.md or https://www.gnu.org/licenses/.
 */

* {
    font-family: Verdana, sans-serif;
}

.overviewTable td {
    border: 1px grey solid;
    min-width: 4em;
    width: 4em;
    max-width: 4em;
    text-align: center;
}

th {
    font-weight: normal;
}

h1 {
    font-size: 1.2em;
}

.voteRed {
    background-color: #faa;
}

.voteYellow {
    background-color: #ffa;
}

.voteGreen {
    background-color: #afa;
}

#voting {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
}

#voting button {
    width: 4em;
    height: 4em;
}

#tabs {
    display: flex;
}

#tabs>span {
    flex: 1;
    text-align: center;
    padding: 10px;
    //border: 1px solid #ccc;
    //background-color: #f2f2f2;
    cursor: pointer;
}

#tabs>span.active {
    border-bottom: 2px solid grey;
    color: grey;
}

#tabs {
    border-bottom: 1px solid grey;
}

#tabs>span:hover {
    background-color: #ddd;
}

.icon {
    color: transparent;
    text-shadow: 0 0 0 gray;
}

#settingsContainer {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 5px;
}

#settingsContainer > div:not(:last-child) {
    margin-bottom: 5px;
}